<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/twOutput.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <nav class="">
            <a href="/"><button>Home</button></a>
            <a href="/dashboard"><button>Dashboard</button></a>
            <a href="/login"><button>Login</button></a>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    {{{body}}}
</body>
    <footer>
        <ul>
            <li>Created by Morgan Tolman</li>
            <li>Email: morgan.tolman04@gmail.com</li>
        </ul>
        <a href="https://github.com/unheardof77" target="_blank"><img class="gitHubimg" alt="Github link" src="/assets/images/Github-Mark-64px.png"/></a>
    </footer>
</html>