<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/tailwind.css">
    {{#if loggedIn}}
    <script defer src="/script/logout.js" ></script>
    <script defer src="/script/addComment.js"></script>
    {{/if}}
    <title>Tech Blog</title>
</head>
<body>
    <header class="bg-indigo-500 flex justify-between items-center  w-full">
        <nav class="ml-5">
            <a href="/" class="bg-blue-500 mt-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Home</a>
            <a href="/dashboard" class="bg-blue-500 mt-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Dashboard</a>
        </nav>
        <h1 class="bg-blue-500 text-white font-bold p-5 rounded w-auto">The Tech Blog</h1>
        <nav class="mr-5 flex items-center">
            {{#if loggedIn}}
            <button id="logout" class="bg-blue-500 mt-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Log out</button>
            {{else}}
            <a href="/login" class="bg-blue-500 mt-6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">LogIn</a>
            {{/if}}
        </nav>
    </header>
    <main class="bg-slate-500 mx min-h-screen mx-80 ">
        {{{body}}}
    </main>
</body>
    <footer class="bg-indigo-500 flex justify-between bottom-0  w-full">
        <ul class="text-white font-bold">
            <li>Created by Morgan Tolman</li>
            <li>Email: morgan.tolman04@gmail.com</li>
        </ul>
        <a href="https://github.com/unheardof77" target="_blank"><img class="gitHubimg" alt="Github link" src="/assets/images/GitHub-Mark-64px.png"/></a>
    </footer>
</html>