    <section>
        <form id="form">
            <input placeholder="Title" id="title">
            <textarea placeholder="Blog content" id="txtArea" cols="5"></textarea>
            <button id="formButton" type="submit" >Create Post</button>
        </form>
        <h1>Your Post's:</h1>
            {{#each data}}
            <section id="{{id}}">
                <article>
                    <div>
                        <h1>{{post_title}}</h1>
                        <p></p>
                    </div>
                    <p>{{post_message}}</p>
                </article>
                <div>
                    <button data-id="{{id}}" class="postEditButton">Edit Post</button>
                </div>
            </section>

            {{/each}}
            <div></div>
    </section>
    {{#if data}}
    <script src="/script/updatePost.js" ></script>
    {{/if}}
    <script src="/script/makePost.js" ></script>