    <section>
        <h1>Your Post's:</h1>
        <section>
            {{#each data}}
                {{>blog}}
                <button>Edit Post</button>
            {{/each}}
        </section>
    </section>