<section class="flex justify-center items-center">
    <form id="form" class="rounded border-blue-500 border-4 flex flex-col">
        <h3 class=" ">Username</h3>
        <input class="mx-5" id="username" title="userName" type="text" name="username">

        <h3 class="">Password</h3>
        <input class="mx-5" id="password" title="password" type="text" name="password" >

        <button type="submit">Submit</button>
        <p>If you haven't signed up yet, click <a href="/signup" class=" text-indigo-500">here.</a></p>
    </form>
</section>
    <script src="/script/login.js"></script>