<form>
    <title>Username</title>
    <input id="userName" title="userName" type="text" name="userName">

    <title>Password</title>
    <input id="password" title="password" type="text" name="password" >

    <title>Email</title>
    <input id="email" title="email" type="email" name="email" >

    <button type="submit"></button>
    <p>If you haven't signed up yet, click <a>here.</a></p>
</form>